<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inhouse.front">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application
    android:label="sample"
    android:icon="@mipmap/ic_launcher">
    <uses-permission android:name="android.permission.INTERNET"/>
    </application>
</manifest>
